<nav th:fragment="nav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container">
        <a class="navbar-brand logo" href="/">ATM</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li th:if="${role == 'ADMIN'}" class="nav-item">
                    <a class="nav-link" href="/users">Пользователи</a>
                </li>
                <li th:if="${role == 'USER'}" class="nav-item">
                    <a class="nav-link" href="/about">Курс валют</a>
                </li>
                <li th:if="${role == 'USER'}" class="nav-item">
                    <a class="nav-link" href="/cards">Карточки</a>
                </li>
                <li th:if="${role == 'MANAGER'}" class="nav-item">
                    <a class="nav-link" href="/ATMs/add">Добавить</a>
                </li>
                <li th:if="${role == 'MANAGER'}" class="nav-item">
                    <a class="nav-link" href="/settings">Настройки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Банкоматы</a>
                </li>
                <li th:if="${role == 'MANAGER'}" class="nav-item">
                    <a class="nav-link" href="/stats">Статистика</a>
                </li>
                <li th:if="${role == 'USER' or role == 'MANAGER'}" class="nav-item">
                    <a class="nav-link" href="/histories">История транзакций</a>
                </li>
                <li th:if="${role == 'NOT'}" class="nav-item">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
                <li th:if="${role == 'NOT'}" class="nav-item">
                    <a class="nav-link" href="/reg">Регистрация</a>
                </li>
                <li th:if="${role != 'NOT'}" class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>